body {
    font-family: 'Times New Roman', Times, sans-serif;
    color: #424343;
    margin: 0;
}

header {
    background-color: #06081b;
    display: inline-block;
    margin: 0 0 3% 0;
    height: 100px;
    width: 100%;
    color: #fff;
}

header img {
    margin-left: 2%;
    height: 100px;
    width: 100px;
    float: left;
}

header p {
    font: 26px Times;
    float: right;
    margin: 2%;
}

main {
    background-color: #b7c2c3;
    margin: 0 1% 2% 2%;
    float: left;
    width: 68%;
}

section {
    padding: 0 0 1% 0;   
}

section h3 {
    background-color: #06081b;
    text-transform: uppercase;
    padding-left: 1%;
    margin-top: 0;
    color: #fff;
    width: 99%;
}

section p {
    padding: 0 0 0 1%;  
    margin: 0;
} 

aside {
    background-color: #b7c2c3;
    margin: 0 2% 2% 1%;
    float: right;
    width: 26%;
}

aside h3 {
    background-color: #06081b;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 3% 0;
    color: #fff;
    width: 100%;
}

aside img {
    width: 93px;
    height: 98px;
    margin: 3%;
}

footer {
    background-color: #06081b;
    text-align: center;
    height: 83px;
    float: left;
    width: 100%;
    color: #fff;
}

